<table class="summary-table">
    <thead>
        <tr>
            <th>Age</th>
            <th>Commit</th>
            <th>Message</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        {% for c in commits %}
        <tr>
            <td class="age">{{ c.age | age_string }}</td>
            <td class="name"><a href="#!/commit/{{ c.hash }}">{{ c.short_hash }}</a></td>
            <td class="msg">{{ c.message }}</td>
            <td class="author">{{ c.author }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
