<h3 class="summary-heading">Branches</h3>
<table class="summary-table">
    <thead>
        <tr>
            <th>Branch</th>
            <th>Commit message</th>
            <th>Author</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        {% for b in branches %}
        <tr>
            <td class="name"><a href="#!/tree?h={{ b.name }}">{{ b.name }}</a></td>
            <td class="msg">{{ b.message }}</td>
            <td class="author">{{ b.author }}</td>
            <td class="age">{{ b.age }}</td>
        </tr>
        {% endfor %}
        {% if more_branches %}
        <tr>
            <td>[<a href="#!/refs/heads">...</a>]</td>
        </tr>
        {% endif %}
    </tbody>
</table>
